body{
  padding-top:70px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

h1{
  text-align: center;
}

.text {
  color: #99ccff;
}

.jumbotron{
  background-color: black;
}

p {
  font-size: 14pt;
}
